<?xml version="1.0"?>
<launch>
  <!-- Параметры симуляции -->
  <param name="use_sim_time" value="true"/>
  
  <!-- Количество дронов -->
  <arg name="num_drones" default="5"/>
  <arg name="takeoff_altitude" default="2.0"/>
  
  <!-- Запуск MAVROS -->
  <include file="$(find mavros)/launch/apm.launch">
    <arg name="fcu_url" value="udp://:14550@127.0.0.1:14557"/>
  </include>
  
  <!-- Загрузка URDF модели дрона -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find basic_nav)/urdf/drone_urdf.urdf'"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">
    <param name="publish_frequency" value="10.0"/>
  </node>
  
  <!-- Трансформации -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_lidar"
        args="0 0 0.2 0 0 0 base_link lidar_link 100" />
  
  <!-- Запуск скрипта для исправления трансформаций -->
  <node pkg="basic_nav" type="fix_transforms.py" name="transform_fixer" output="screen">
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/>
    <param name="base_frame" value="base_link"/>
    <param name="publish_rate" value="50.0"/>
  </node>
  
  <!-- Запуск упрощенной демонстрации нескольких дронов -->
  <node pkg="basic_nav" type="simple_multi_drone_demo.py" name="multi_drone_demo" output="screen">
    <param name="num_drones" value="$(arg num_drones)"/>
    <param name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
  </node>
  
  <!-- Запуск RViz для визуализации -->
  <node pkg="rviz" type="rviz" name="rviz" 
        args="-d $(find basic_nav)/rviz/navigation.rviz"/>
</launch> 